# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
